<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="TestSuite">
    <test name="LoginTest">
        <classes>
            <class name="tests.Login" />
        </classes>
    </test>

    <test name="CityCheck">
        <classes>
            <class name="tests.City"/>
        </classes>
    </test>
</suite>